{% extends "layouts/layouts.html" %}

{% block title %}
{{title}}
{% endblock title %}


{% block content %}
  <h1>{{title}}<h1/>
  <p>La Universidad Tecnológica de Durango "UTD" es una institución enfocada en la formación práctica y técnica, ofreciendo programas de Técnico Superior Universitario e Ingenierías. Destaca por sus alianzas con empresas, facilitando prácticas profesionales y rápida inserción laboral, especialmente en áreas como tecnología e ingeniería.</p>
{% endblock content %}